<!DOCTYPE html>
<html>

<head>
	<title>Morse GO!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/files/templates/css/index.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

	<style>
		
	</style>
</head>

<body>
	<div class="wrap-page">
		<div class="page-title" data-aos="fade-up" data-aos-duration="2000">
			<h1> Morse Code Parser</h1>
			<h2> Parse To|From Morse </h2>
		</div>

		<!-- <label>Input String:</label> -->
		<form method="get" data-aos="fade-up" data-aos-duration="2000">
			<input class="input-string" type="text" name="input">
			<div class="btn-action">
				<input type="submit" value="To" formaction="/parse/t">
				<input type="submit" value="from" formaction="/parse/f">
			</div>

		</form>
	</div>
	<footer>
		<h3>Made with &#10084; by <a href="https://github.com/rodrigovb96" target="_blank">Rodrigo</a> & <a
				href="http://otuta.com.br/" target="_blank">TUTA.</a> </h3>
	</footer>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>

</html>